USE [master]
GO
/****** Object:  Table [dbo].[Incident]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident](
	[ID_incidenta] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NOT NULL,
	[opis] [nvarchar](max) NULL,
	[razina_zivotinje] [int] NULL,
	[razina_nastambe] [int] NULL,
	[trosak_popravka] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_incidenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentNastamba]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentNastamba](
	[ID_incidenta] [int] NOT NULL,
	[ID_nastambe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_incidenta] ASC,
	[ID_nastambe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentZivotinja]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentZivotinja](
	[ID_incidenta] [int] NOT NULL,
	[ID_vrste] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_incidenta] ASC,
	[ID_vrste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jedinka]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jedinka](
	[ID_jedinke] [int] IDENTITY(1,1) NOT NULL,
	[nadimak] [nvarchar](50) NOT NULL,
	[ID_vrste] [int] NOT NULL,
	[ID_nastambe] [int] NOT NULL,
	[opis] [nvarchar](max) NULL,
	[datum_nabavke] [date] NULL,
	[trosak] [decimal](10, 2) NULL,
	[tip_troska] [nvarchar](20) NULL,
	[aktivna] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_jedinke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nastamba]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nastamba](
	[ID_nastambe] [int] IDENTITY(1,1) NOT NULL,
	[oznaka] [nvarchar](20) NOT NULL,
	[opis] [nvarchar](max) NULL,
	[sjenčenje] [nvarchar](50) NULL,
	[geometrija] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_nastambe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obaveza]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obaveza](
	[ID_obaveze] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[opis] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[datum] [date] NULL,
	[periodicnost] [nvarchar](50) NULL,
	[ID_radnika] [int] NULL,
	[ID_jedinke] [int] NULL,
	[ID_skupine] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_obaveze] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obrazovanje]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obrazovanje](
	[ID_obrazovanja] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[trajno] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_obrazovanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[ID_radnika] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[kontakt_broj] [nvarchar](20) NOT NULL,
	[ID_obrazovanja] [int] NULL,
	[tip_radnika] [nvarchar](50) NULL,
	[ID_zoo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_radnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raspored]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raspored](
	[ID_rasporeda] [int] IDENTITY(1,1) NOT NULL,
	[ID_radnika] [int] NOT NULL,
	[datum] [date] NOT NULL,
	[smjena] [char](2) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_rasporeda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skupina]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skupina](
	[ID_skupine] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[ID_vrste] [int] NOT NULL,
	[ID_nastambe] [int] NOT NULL,
	[prosjecan_broj] [int] NULL,
	[opis] [nvarchar](max) NULL,
	[datum_nabavke] [date] NULL,
	[trosak] [decimal](10, 2) NULL,
	[tip_troska] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_skupine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tura]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tura](
	[ID_ture] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NOT NULL,
	[broj_posjetitelja] [int] NULL,
	[ID_vodica] [int] NULL,
	[opis] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vrsta]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vrsta](
	[ID_vrste] [int] IDENTITY(1,1) NOT NULL,
	[hr_naziv] [nvarchar](100) NOT NULL,
	[lat_naziv] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_vrste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zooloski]    Script Date: 29.11.2025. 16:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zooloski](
	[ID_zoo] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[adresa] [nvarchar](100) NOT NULL,
	[radno_vrijeme] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_zoo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Incident] ON 

INSERT [dbo].[Incident] ([ID_incidenta], [datum], [opis], [razina_zivotinje], [razina_nastambe], [trosak_popravka]) VALUES (1, CAST(N'2025-11-16' AS Date), N'Lav se ogrebao o drvenu platformu u nastambi A1', 1, 1, CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[Incident] ([ID_incidenta], [datum], [opis], [razina_zivotinje], [razina_nastambe], [trosak_popravka]) VALUES (2, CAST(N'2025-11-17' AS Date), N'Vrana uništila mali ukras u nastambi B1', 2, 2, CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[Incident] ([ID_incidenta], [datum], [opis], [razina_zivotinje], [razina_nastambe], [trosak_popravka]) VALUES (3, CAST(N'2025-11-18' AS Date), N'Akvarij za zlatne ribice C1 djelomicno zamgljen zbog previše algi', 3, 3, CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Incident] OFF
GO
INSERT [dbo].[IncidentNastamba] ([ID_incidenta], [ID_nastambe]) VALUES (1, 1)
INSERT [dbo].[IncidentNastamba] ([ID_incidenta], [ID_nastambe]) VALUES (2, 2)
INSERT [dbo].[IncidentNastamba] ([ID_incidenta], [ID_nastambe]) VALUES (3, 3)
GO
INSERT [dbo].[IncidentZivotinja] ([ID_incidenta], [ID_vrste]) VALUES (1, 1)
INSERT [dbo].[IncidentZivotinja] ([ID_incidenta], [ID_vrste]) VALUES (2, 2)
INSERT [dbo].[IncidentZivotinja] ([ID_incidenta], [ID_vrste]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Jedinka] ON 

INSERT [dbo].[Jedinka] ([ID_jedinke], [nadimak], [ID_vrste], [ID_nastambe], [opis], [datum_nabavke], [trosak], [tip_troska], [aktivna]) VALUES (1, N'Leo', 1, 1, N'Mlad lav u nastambi A1', CAST(N'2025-01-10' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'hrana', 1)
INSERT [dbo].[Jedinka] ([ID_jedinke], [nadimak], [ID_vrste], [ID_nastambe], [opis], [datum_nabavke], [trosak], [tip_troska], [aktivna]) VALUES (2, N'Corvus', 2, 2, N'Pametna vrana u nastambi B2', CAST(N'2025-02-05' AS Date), CAST(1000.00 AS Decimal(10, 2)), N'održavanje', 1)
INSERT [dbo].[Jedinka] ([ID_jedinke], [nadimak], [ID_vrste], [ID_nastambe], [opis], [datum_nabavke], [trosak], [tip_troska], [aktivna]) VALUES (3, N'Glodie', 3, 3, N'Zlatna ribica u akvariju C1', CAST(N'2025-03-01' AS Date), CAST(50.00 AS Decimal(10, 2)), N'biljke za akvarij', 1)
SET IDENTITY_INSERT [dbo].[Jedinka] OFF
GO
SET IDENTITY_INSERT [dbo].[Nastamba] ON 

INSERT [dbo].[Nastamba] ([ID_nastambe], [oznaka], [opis], [sjenčenje], [geometrija]) VALUES (1, N'A1', N'Prostor za lava s drvenim platformama i stijenama', N'djelomično', N'100x50')
INSERT [dbo].[Nastamba] ([ID_nastambe], [oznaka], [opis], [sjenčenje], [geometrija]) VALUES (2, N'B2', N'Prostor za vrane s granama i kavezom', N'puno', N'50x50')
INSERT [dbo].[Nastamba] ([ID_nastambe], [oznaka], [opis], [sjenčenje], [geometrija]) VALUES (3, N'C1', N'Akvarij za zlatne ribice s filtracijom i biljkama', N'puno', N'50x30')
SET IDENTITY_INSERT [dbo].[Nastamba] OFF
GO
SET IDENTITY_INSERT [dbo].[Obaveza] ON 

INSERT [dbo].[Obaveza] ([ID_obaveze], [naziv], [opis], [status], [datum], [periodicnost], [ID_radnika], [ID_jedinke], [ID_skupine]) VALUES (0, N'Hranjenje lava', N'Davanje hrane lavu u nastambi A1', N'planirana', CAST(N'2025-11-17' AS Date), N'dnevno', 1, 1, 1)
INSERT [dbo].[Obaveza] ([ID_obaveze], [naziv], [opis], [status], [datum], [periodicnost], [ID_radnika], [ID_jedinke], [ID_skupine]) VALUES (1, N'Istraživanje skupine vrana', N'Praćenje ponašanja vrana u nastambi B1', N'planirana', CAST(N'2025-11-17' AS Date), N'tjedno', 2, 2, 2)
INSERT [dbo].[Obaveza] ([ID_obaveze], [naziv], [opis], [status], [datum], [periodicnost], [ID_radnika], [ID_jedinke], [ID_skupine]) VALUES (2, N'Čišćenje akvarija', N'Čišćenje i filtriranje vode za zlatne ribice', N'u tijeku', CAST(N'2025-11-16' AS Date), N'tjedno', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Obaveza] OFF
GO
SET IDENTITY_INSERT [dbo].[Obrazovanje] ON 

INSERT [dbo].[Obrazovanje] ([ID_obrazovanja], [naziv], [trajno]) VALUES (1, N'Veterinar', 1)
INSERT [dbo].[Obrazovanje] ([ID_obrazovanja], [naziv], [trajno]) VALUES (2, N'Odgajatelj životinja', 0)
SET IDENTITY_INSERT [dbo].[Obrazovanje] OFF
GO
SET IDENTITY_INSERT [dbo].[Radnik] ON 

INSERT [dbo].[Radnik] ([ID_radnika], [ime], [prezime], [kontakt_broj], [ID_obrazovanja], [tip_radnika], [ID_zoo]) VALUES (1, N'Marko', N'Marković', N'062888999', 1, N'Veterinar', 1)
INSERT [dbo].[Radnik] ([ID_radnika], [ime], [prezime], [kontakt_broj], [ID_obrazovanja], [tip_radnika], [ID_zoo]) VALUES (2, N'Marija', N'Marić', N'063444555', 2, N'Odgajatelj', 1)
INSERT [dbo].[Radnik] ([ID_radnika], [ime], [prezime], [kontakt_broj], [ID_obrazovanja], [tip_radnika], [ID_zoo]) VALUES (3, N'Ana', N'Anić', N'064222777', 2, N'Odgajatelj', 1)
SET IDENTITY_INSERT [dbo].[Radnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Raspored] ON 

INSERT [dbo].[Raspored] ([ID_rasporeda], [ID_radnika], [datum], [smjena], [status]) VALUES (0, 1, CAST(N'2025-11-16' AS Date), N'I ', N'radi')
INSERT [dbo].[Raspored] ([ID_rasporeda], [ID_radnika], [datum], [smjena], [status]) VALUES (1, 2, CAST(N'2025-11-16' AS Date), N'II', N'slobodan')
INSERT [dbo].[Raspored] ([ID_rasporeda], [ID_radnika], [datum], [smjena], [status]) VALUES (2, 3, CAST(N'2025-11-16' AS Date), N'I ', N'radi')
SET IDENTITY_INSERT [dbo].[Raspored] OFF
GO
SET IDENTITY_INSERT [dbo].[Skupina] ON 

INSERT [dbo].[Skupina] ([ID_skupine], [naziv], [ID_vrste], [ID_nastambe], [prosjecan_broj], [opis], [datum_nabavke], [trosak], [tip_troska]) VALUES (1, N'Čopor', 1, 1, 3, N'Tri lava u nastambi A1', CAST(N'2025-01-10' AS Date), CAST(2000.00 AS Decimal(10, 2)), N'hrana')
INSERT [dbo].[Skupina] ([ID_skupine], [naziv], [ID_vrste], [ID_nastambe], [prosjecan_broj], [opis], [datum_nabavke], [trosak], [tip_troska]) VALUES (2, N'Krd', 2, 2, 5, N'Pet vrana u nastambi B2', CAST(N'2025-02-05' AS Date), CAST(1000.00 AS Decimal(10, 2)), N'održavanje')
INSERT [dbo].[Skupina] ([ID_skupine], [naziv], [ID_vrste], [ID_nastambe], [prosjecan_broj], [opis], [datum_nabavke], [trosak], [tip_troska]) VALUES (3, N'Jato', 3, 3, 50, N'Pedest zlatnih ribica u nastambi C1', CAST(N'2025-03-01' AS Date), CAST(50.00 AS Decimal(10, 2)), N'biljke za akvarij')
SET IDENTITY_INSERT [dbo].[Skupina] OFF
GO
SET IDENTITY_INSERT [dbo].[Tura] ON 

INSERT [dbo].[Tura] ([ID_ture], [datum], [broj_posjetitelja], [ID_vodica], [opis]) VALUES (0, CAST(N'2025-11-16' AS Date), 25, 1, N'Obilazak lavova i ptica')
INSERT [dbo].[Tura] ([ID_ture], [datum], [broj_posjetitelja], [ID_vodica], [opis]) VALUES (2, CAST(N'2025-11-17' AS Date), 15, 3, N'Obilazak vodozemaca i ribica')
INSERT [dbo].[Tura] ([ID_ture], [datum], [broj_posjetitelja], [ID_vodica], [opis]) VALUES (3, CAST(N'2025-11-18' AS Date), 30, 4, N'Obilazak krokodila i drugih gmazova')
SET IDENTITY_INSERT [dbo].[Tura] OFF
GO
SET IDENTITY_INSERT [dbo].[Vrsta] ON 

INSERT [dbo].[Vrsta] ([ID_vrste], [hr_naziv], [lat_naziv]) VALUES (1, N'Lav', N'Panthera leo')
INSERT [dbo].[Vrsta] ([ID_vrste], [hr_naziv], [lat_naziv]) VALUES (2, N'Vrana', N'Corvus corax')
INSERT [dbo].[Vrsta] ([ID_vrste], [hr_naziv], [lat_naziv]) VALUES (3, N'Zlatna ribica', N'Carassius auratus')
SET IDENTITY_INSERT [dbo].[Vrsta] OFF
GO
SET IDENTITY_INSERT [dbo].[Zooloski] ON 

INSERT [dbo].[Zooloski] ([ID_zoo], [naziv], [adresa], [radno_vrijeme]) VALUES (1, N'ZOO Zagreb', N'Maksimirska 1', 8)
SET IDENTITY_INSERT [dbo].[Zooloski] OFF
GO
ALTER TABLE [dbo].[Jedinka] ADD  DEFAULT ('novcano') FOR [tip_troska]
GO
ALTER TABLE [dbo].[Jedinka] ADD  DEFAULT ((1)) FOR [aktivna]
GO
ALTER TABLE [dbo].[Skupina] ADD  DEFAULT ('novcano') FOR [tip_troska]
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_incidenta])
REFERENCES [dbo].[Incident] ([ID_incidenta])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[IncidentNastamba]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Jedinka]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_nastambe])
REFERENCES [dbo].[Nastamba] ([ID_nastambe])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Skupina]  WITH CHECK ADD FOREIGN KEY([ID_vrste])
REFERENCES [dbo].[Vrsta] ([ID_vrste])
GO
ALTER TABLE [dbo].[Tura]  WITH CHECK ADD  CONSTRAINT [FK_Tura_Radnik] FOREIGN KEY([ID_vodica])
REFERENCES [dbo].[Radnik] ([ID_radnika])
GO
ALTER TABLE [dbo].[Tura] CHECK CONSTRAINT [FK_Tura_Radnik]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [CHK_Incident_razina_nastambe] CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [CHK_Incident_razina_nastambe]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [CHK_Incident_razina_zivotinje] CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [CHK_Incident_razina_zivotinje]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_zivotinje]>=(1) AND [razina_zivotinje]<=(5)))
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD CHECK  (([razina_nastambe]>=(1) AND [razina_nastambe]<=(5)))
GO
